{% extends "base.html" %}
{% set title = intervention.name %}

{% block content %}
<style>
.maps-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 1280px) {
  .maps-container {
    flex-direction: row;
  }
  .map {
    flex: 1;
    min-width: 0;
  }
}

.map {
 width: 100%;
 max-width: 640px;
}
.shapes svg {
 width: 100%;
 fill: #0b0c0c;
 padding: 2.5em;
}
.points svg {
 width: 100%;
 fill: #0b0c0c;
 padding: 2.5em;
}
svg path {
  fill:none;
  stroke:#000;
  stroke-width:0.5px;
}
svg circle {
  fill:red;
  opacity: 0.125;
}
svg a {
  cursor: pointer;
}
svg path.Software { fill: #22d0b6; stroke: #000; stroke-width: 0.5px }
svg path.PropTech_Software { fill: #a8bd3a; stroke: #000; stroke-width: 0.5px }
svg path.Plan-making_Software { fill: #118c7b; stroke: #000; stroke-width: 0.5px }
svg path.Plan-making_PropTech_Software { fill: #746cb1; stroke: #000; stroke-width: 0.5px }
svg path.PropTech { fill: #27a0cc; stroke: #000; stroke-width: 0.5px }
svg path.Plan-making_PropTech { fill: #206095; stroke: #000; stroke-width: 0.5px }
svg path.Plan-making { fill: #eee; stroke: #000; stroke-width: 0.5px }
svg path:hover { opacity: 0.5 }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Intervention</span>
        <h1 class="govuk-heading-xl">{{ intervention.name }}</h1>

        {% if intervention.description %}
        <p class="govuk-body-l">{{ intervention.description }}</p>
        {% endif %}

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisations</dt>
                <dd class="govuk-summary-list__value">{{ organisations|length }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Awards</dt>
                <dd class="govuk-summary-list__value">{{ awards|length }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Funding</dt>
                <dd class="govuk-summary-list__value">£{{ "{:,}".format(total_amount) }}</dd>
            </div>
        </dl>


        <div class="maps-container">
            <div class="shapes map">
            {{ shapes_svg|safe }}
            </div>

            <div class="points map">
            {{ points_svg|safe }}
            </div>
        </div>

        <h2 class="govuk-heading-m" id="awards">Awards</h2>

        <table id="awards-table" class="govuk-table sortable">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Organisation</th>
                    <th scope="col" class="govuk-table__header">Fund</th>
                    <th scope="col" class="govuk-table__header">Amount</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for award in awards %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ award.start_date|govuk_date }}</td>
                    <td class="govuk-table__cell">
                        <a href="{{BASE_PATH}}/organisation/{{ award.organisation }}/">{{ award.org_name }}</a>
                    </td>
                    <td class="govuk-table__cell">
                        <a href="{{BASE_PATH}}/fund/{{ award.fund }}/">{{ award.fund_name }}</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort="{{ award.amount }}">
                        {% if award.amount > 0 %}
                        £{{ "{:,}".format(award.amount) }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js" integrity="sha512-F/gIMdDfda6OD2rnzt/Iyp2V9JLHlFQ+EUyixDg9+rkwjqgW1snpkpx7FD5FV1+gG2fmFj7I3r6ReQDUidHelA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/sorts/tablesort.number.min.js" integrity="sha512-dRD755QRxlybm0h3LXXIGrFcjNakuxW3reZqnPtUkMv6YsSWoJf+slPjY5v4lZvx2ss+wBZQFegepmA7a2W9eA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
new Tablesort(document.getElementById('awards-table'));
</script>

{% endblock content %}
