{% extends "base.html" %}
{% set title = "Interventions" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Interventions</h1>

        <p class="govuk-body">Types of funding interventions in the Digital Planning Programme.</p>

        <table id="interventions-table" class="govuk-table sortable">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Intervention</th>
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Awards</th>
                    <th scope="col" class="govuk-table__header">Total funding</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for intervention in interventions %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="/intervention/{{ intervention.intervention }}/" class="govuk-link">{{ intervention.name }}</a>
                    </td>
                    <td class="govuk-table__cell">{{ intervention.description }}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{{ intervention.award_count }}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort="{{ intervention.total_amount }}">
                        {% if intervention.total_amount > 0 %}
                        £{{ "{:,}".format(intervention.total_amount) }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js" integrity="sha512-F/gIMdDfda6OD2rnzt/Iyp2V9JLHlFQ+EUyixDg9+rkwjqgW1snpkpx7FD5FV1+gG2fmFj7I3r6ReQDUidHelA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/sorts/tablesort.number.min.js" integrity="sha512-dRD755QRxlybm0h3LXXIGrFcjNakuxW3reZqnPtUkMv6YsSWoJf+slPjY5v4lZvx2ss+wBZQFegepmA7a2W9eA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
new Tablesort(document.getElementById('interventions-table'));
</script>

{% endblock content %}
