{% extends "base.html" %}
{% set title = product.name %}

{% block content %}
<style>
.chart {
  width: 100%;
  max-width: 100%;
  min-height: 450px;
}

.funnel-chart {
  width: 100%;
  height: 500px;
}

.timeline-container {
  width: 100%;
  margin: 2em 0;
  font-size: 0.9em;
}

.timeline-header {
  display: flex;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #b1b4b6;
}

.timeline-labels {
  width: 200px;
  flex-shrink: 0;
}

.timeline-axis {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
}

.timeline-year {
  font-weight: bold;
  color: #0b0c0c;
}

.timeline-row {
  display: flex;
  margin-bottom: 0.25em;
  min-height: 2em;
  align-items: center;
}

.timeline-label {
  width: 200px;
  flex-shrink: 0;
  padding-right: 1em;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.timeline-track {
  flex: 1;
  position: relative;
  height: 1.5em;
  background-color: #f3f2f1;
  border: 1px solid #b1b4b6;
}

.timeline-bar {
  height: 100%;
  background-color: #27a0cc;
  position: absolute;
  top: 0;
}

.tooltip {
    background:#fff;
    padding:10px;
    border-style:solid;
}

.treemap-container {
  width: 100%;
  overflow-x: auto;
  margin: 2em 0;
}

.treemap-container svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>google.charts.load('current', {'packages':['corechart','bar']});</script>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Product</span>
        <h1 class="govuk-heading-xl">{{ product.name }}</h1>

        {% if product.description %}
        <p class="govuk-body">{{ product.description }}</p>
        {% endif %}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Number of organisations adopting {{ product.name }}</h2>

        <script type="text/javascript">
          google.charts.setOnLoadCallback(draw_adoption)
          function draw_adoption() {
            var data = google.visualization.arrayToDataTable([
              ['Status', 'Count'],
              ['LPA', {{ counts.lpa }}],
              ['ODP member', {{ counts.odp }}],
              ['Awarded funding', {{ counts.funded }}],
              ['Funded for Software', {{ counts.software }}],
              ['Providing some data', {{ counts.providing }}],
              ['Data ready for {{ product.name }}', {{ counts.data_ready }}],
              ['Preparing to launch {{ product.name }}', {{ counts.interested_or_adopting }}],
              ['Live with {{ product.name }}', {{ counts.live }}],
            ]);

            var options = {
              title: "Number of organisations",
              bars: 'vertical',
              colors: ['#27a0cc'],
              legend: { position: "none" },
              vAxis: { gridlines: { count:0 }},
              chartArea: { width: '90%', height: '70%' }
            };

            var view = new google.visualization.DataView(data);
            view.setColumns([0,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation"
                             }, 1]);
            var chart = new google.visualization.ColumnChart(document.getElementById("adoption-chart"));
            chart.draw(view, options);
          }
        </script>
        <div id="adoption-chart" class="funnel-chart"></div>
        <p class="govuk-body">Note: submission includes LPA who have adopted both services.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% if timeline_data %}
        <h2 class="govuk-heading-l">{{ product.name }} adoption timeline</h2>

        <div class="timeline-container">
            <div class="timeline-header">
                <div class="timeline-labels"></div>
                <div class="timeline-axis">
                    {% for year in timeline_years %}
                    <div class="timeline-year">{{ year }}</div>
                    {% endfor %}
                </div>
            </div>
            {% for item in timeline_data %}
            <div class="timeline-row">
                <div class="timeline-label">{{ item.area_name }}</div>
                <div class="timeline-track">
                    <div class="timeline-bar" style="margin-left: {{ item.offset_percent }}%; width: {{ item.width_percent }}%;"></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <p class="govuk-body">Timeline showing when each LPA adopted {{ product.name }} (live status only).</p>
        {% endif %}

        {% if treemap_svg %}
        <h2 class="govuk-heading-l">Funding and {{ product.name }} adoption</h2>

        <div class="treemap-container">
            {{ treemap_svg|safe }}
        </div>
        {% endif %}

        <h2 class="govuk-heading-l">Adoptions ({{ adoptions|length }})</h2>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Organisation</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Start date</th>
                    <th scope="col" class="govuk-table__header">Documentation</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for adoption in adoptions %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="/organisation/{{ adoption.organisation }}/">{{ adoption.org_name }}</a>
                    </td>
                    <td class="govuk-table__cell">{{ adoption.adoption_status }}</td>
                    <td class="govuk-table__cell">{{ adoption.start_date }}</td>
                    <td class="govuk-table__cell">
                        {% if adoption.documentation_url %}
                        <a href="{{ adoption.documentation_url }}">View</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
