{% extends "base.html" %}
{% set title = "PlanX Adoption" %}

{% block content %}
<style>
/* Tables */
table {
  border-spacing: 0;
  border: 1px solid #ddd;
}
table.sortable {
  width: 100%;
}
thead {
  position: sticky;
  top: 1px;
  background: #fff;
}
th, td {
  border: 1px solid #ddd;
}
th.date {
    min-width: 5.5em;
}
td.dot {
  valign: center;
  text-align: center;
  font-family: monospace;
}
th.odp-col {
  text-align: center;
}
td.dots {
  valign: center;
  text-align: right;
  font-family: monospace;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.dot a { text-decoration: none; color: #222; }
.submission { font-weight: bolder }
.guidance { font-weight: bolder }
.interested { color: #888}
.amount { text-align: right }
.number { text-align: right }

/* Quality indicators */
.some, .some a { color:	#d4351c; }
.authoritative, .authoritative a { color: #f47738; }
.ready, .ready a { color: #a8bd3a; }
.trustworthy, .trustworthy a { color: #00703c; }

/* Charts */
.chart {
  width: 100%;
  max-width: 100%;
  min-height: 450px;
}

.timeline-container {
  width: 100%;
  margin: 2em 0;
  font-size: 0.9em;
}

.timeline-header {
  display: flex;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #b1b4b6;
}

.timeline-labels {
  width: 200px;
  flex-shrink: 0;
}

.timeline-axis {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
}

.timeline-year {
  font-weight: bold;
  color: #0b0c0c;
}

.timeline-row {
  display: flex;
  margin-bottom: 0.25em;
  min-height: 2em;
  align-items: center;
}

.timeline-label {
  width: 200px;
  flex-shrink: 0;
  padding-right: 1em;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.timeline-track {
  flex: 1;
  position: relative;
  height: 1.5em;
  background-color: #f3f2f1;
  border: 1px solid #b1b4b6;
}

.timeline-bar {
  height: 100%;
  background-color: #27a0cc;
  position: absolute;
  top: 0;
}

.tooltip {
    background:#fff;
    padding:10px;
    border-style:solid;
}

/* sortable table */
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>google.charts.load('current', {'packages':['corechart','bar','sankey', 'treemap', 'geochart', 'timeline']});</script>

<h1 id='adoption-numbers'>Number of organisations adopting PlanX</h1>

<script type="text/javascript">
  google.charts.setOnLoadCallback(draw_adoption)
  function draw_adoption() {
    var data = google.visualization.arrayToDataTable([
      ['Status', 'Count'],
      ['LPA', {{ counts.lpa }}],
      ['ODP member', {{ counts.odp }}],
      ['Awarded funding', {{ counts.funded }}],
      ['Funded for Software', {{ counts.software }}],
      ['Providing some data', {{ counts.providing }}],
      ['Data ready for PlanX', {{ counts.data_ready }}],
      ['Preparing to launch PlanX', {{ counts.interested_or_adopting }}],
      ['Live with PlanX', {{ counts.live }}],
    ]);

    var options = {
      title: "Number of organisations",
      bars: 'vertical',
      colors: ['#27a0cc'],
      legend: { position: "none" },
      vAxis: { gridlines: { count:0 }}
    };

    var view = new google.visualization.DataView(data);
    view.setColumns([0,
                   { calc: "stringify",
                     sourceColumn: 1,
                     type: "string",
                     role: "annotation"
                     }, 1]);
    var chart = new google.visualization.ColumnChart(document.getElementById("adoption-chart"));
    chart.draw(view, options);

  }
</script>
<div id="adoption-chart" class="chart"></div>
<p>Note: submission includes LPA who have adopted both services.</p>

<h1 id='adoption-timeline'>PlanX adoption</h1>

<div class="timeline-container">
    <div class="timeline-header">
        <div class="timeline-labels"></div>
        <div class="timeline-axis">
            {% for year in timeline_years %}
            <div class="timeline-year">{{ year }}</div>
            {% endfor %}
        </div>
    </div>
    {% for item in timeline_data %}
    <div class="timeline-row">
        <div class="timeline-label">{{ item.area_name }}</div>
        <div class="timeline-track">
            <div class="timeline-bar" style="margin-left: {{ item.offset_percent }}%; width: {{ item.width_percent }}%;"></div>
        </div>
    </div>
    {% endfor %}
</div>
<p>Timeline showing when each LPA adopted PlanX (live status only).</p>


<h1 id='funding-and-adoption'>Funding and PlanX adoption</h1>

<script type="text/javascript">
  google.charts.setOnLoadCallback(draw_adoption_treemap)
  function draw_adoption_treemap() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Area name');
    data.addColumn('string', 'Bucket');
    data.addColumn('number', 'Amount');
    data.addColumn('number', 'Color');
    data.addColumn('string', 'Name');
    data.addColumn('string', 'Data status');
    data.addColumn('number', 'PropTech');
    data.addColumn('number', 'Software');
    data.addRows([
{% for org in funded_orgs %}
      ['{{ org.area_name }}', '{{ org.bucket }}', {{ org.amount }}, {{ org.color }}, '{{ org.name }}', '{{ org.status }}', {{ org.proptech_amount }}, {{ org.software_amount }}],
{% endfor %}
      ['PropTech', 'Funded organisation', {{ totals.proptech }}, 0, 'Funded for PropTech', '', 0, 0,],
      ['Software', 'Funded organisation', {{ totals.software }}, 0, 'Organisations funded for software', '', 0, 0,],
      ['Both', 'Funded organisation', {{ totals.both }}, 0, 'Funded for Software and PropTech', '', 0, 0,],
      ['Funded organisation', null, {{ totals.all }}, 0, 'All funded organisations', '', 0, 0,],
]);

    var options = {
        maxDepth: 2,
        maxPostDepth: 2,
        headerHeight: 15,
        showScale: false,
        minColor: '#f5f5f6',
        midColor: '#bcbcbd',
        maxColor: '#27a0cc',
        eventsConfig: {
          highlight: ['click'],
          unhighlight: ['mouseout'],
          rollup: ['contextmenu'],
          drilldown: ['dblclick'],
        },
        generateTooltip: showFullTooltip,
    };

    function showFullTooltip(row, size, value) {
        var s = '<div class="tooltip">' +
            '<span><h2>' + data.getValue(row, 4) + '</h2>';

        const bucket = data.getValue(row, 1);
        if (bucket == 'PropTech' || bucket == 'Both') {
            s = s + '<p>£' + data.getValue(row, 6).toLocaleString() + ' for PropTech</p>';
        }
        if (bucket == 'Software' || bucket == 'Both') {
            s = s + '<p>£' + data.getValue(row, 7).toLocaleString() + ' for Software</p>';
        }
        if (bucket == 'Both') {
            s = s + '<p>£' + data.getValue(row, 2).toLocaleString() + ' in total.</p>';
        }

        var status = data.getValue(row, 5);
        if (status != '') {
            s = s + '<p>' + status + '</p>'
        }
        s = s + '</div>'
        return s;
    }

    var chart = new google.visualization.TreeMap(document.getElementById("adoption-treemap-chart"));
    chart.draw(data, options);
  }
</script>
<div id="adoption-treemap-chart" class="chart"></div>

<h1 id='all-organisations'>All LPAs and funded organisations</h1>

<p>Note: data quality is currently only reported in areas funded to develop or adopt ODP software.</p>
<table id='sortable' class='sortable'>
<thead>
    <th scope="col" align="right">#</th>
    <th scope="col" align="left">Organisation</th>
    <th scope="col" align="left" class="date">Ended</th>
    <th scope="col" align="right">Minor applications in 2024</th>
    <th scope="col" align="right">% processed in 8 weeks</th>
    <th scope="col" align="left"><abbr title="Local Planning Authority">LPA</th>
    <th scope="col" align="left">Drupal</th>
    <th scope="col" align="left"><abbr title="local-land-charges">LLC</abbr></th>
    <th scope="col" align="left"><abbr title="open-digital-planning">ODP</th>
    <th scope="col" align="right">PropTech</th>
    <th scope="col" align="right">Software</th>
    <th scope="col" align="right">Both</th>
    {% for dataset in datasets %}
    <th class="odp-col" scope="col" align="left"><abbr title="{{ dataset.name }}">{{ dataset.abbr }}</abbr></th>
    {% endfor %}
    <th scope="col" align="left"><abbr title="Data is good enough to adopt PlanX">Data ready</abbr></th>
    <th scope="col" align="left" data-sort-method="number">PlanX</th>
</thead>
<tbody>
{% for org in all_orgs %}
<tr>
<td>{{ loop.index }}</td>
<td id="{{ org.organisation }}"><a href="https://www.planning.data.gov.uk/entity/{{ org.entity }}">{{ org.name }}</a></td>
<td>{{ org.end_date|govuk_date }}</td>
<td class="number">{{ org.volume }}</td>
<td class="number">{{ org.percentage }}</td>
<td class="dot">{{ org.is_lpa }}</td>
{% for project in ['localgov-drupal', 'local-land-charges', 'open-digital-planning'] %}
<td class="dot">{{ org.projects[project] }}</td>
{% endfor %}
<td class="amount" data-sort="{{ org.proptech_amount }}">{{ org.proptech_display }}</td>
<td class="amount" data-sort="{{ org.software_amount }}">{{ org.software_display }}</td>
<td class="amount" data-sort="{{ org.amount }}">{{ org.amount_display }}</td>
{% for dataset in datasets %}
<td class="dot {{ org.quality[dataset.key].status }}" data-sort="{{ org.quality[dataset.key].score }}">{{ org.quality[dataset.key].display }}</td>
{% endfor %}
<td class="dot" data-sort="{{ org.data_score }}">{{ org.data_ready_display }}</td>
<td class="{{ org.adoption_status }}" data-sort="{{ loop.index }}" data-sort-method="number">{{ org.adoption_status }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js" integrity="sha512-F/gIMdDfda6OD2rnzt/Iyp2V9JLHlFQ+EUyixDg9+rkwjqgW1snpkpx7FD5FV1+gG2fmFj7I3r6ReQDUidHelA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/sorts/tablesort.number.min.js" integrity="sha512-dRD755QRxlybm0h3LXXIGrFcjNakuxW3reZqnPtUkMv6YsSWoJf+slPjY5v4lZvx2ss+wBZQFegepmA7a2W9eA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
new Tablesort(document.getElementById('sortable'), { descending: true });
</script>

{% endblock content %}
