{% extends "base.html" %}
{% set title = "Funds" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Funds</h1>

        <p class="govuk-body">Funding programmes in the Digital Planning Programme.</p>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Funds</dt>
                <dd class="govuk-summary-list__value">{{ summary.fund_count }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Awards</dt>
                <dd class="govuk-summary-list__value">{{ summary.award_count }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Total funding awarded</dt>
                <dd class="govuk-summary-list__value">£{{ "{:,}".format(summary.total_amount) }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisations directly awarded funding</dt>
                <dd class="govuk-summary-list__value">{{ summary.direct_orgs }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisations awarded funding through partnerships</dt>
                <dd class="govuk-summary-list__value">{{ summary.partner_orgs }}</dd>
            </div>
        </dl>

        <table id="funds-table" class="govuk-table sortable">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Fund</th>
                    <th scope="col" class="govuk-table__header">Interventions</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Awards</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Funding</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for fund in funds %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ fund.start_date|govuk_date }}</td>
                    <td class="govuk-table__cell">
                        <a href="{{BASE_PATH}}/fund/{{ fund.fund }}/" class="govuk-link">{{ fund.name }}</a>
                    </td>
                    <td class="govuk-table__cell">
                        {% for intervention in fund.interventions %}
                        <a href="{{BASE_PATH}}/intervention/{{ intervention.intervention }}/">{{ intervention.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{{ fund.award_count }}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort="{{ fund.total_amount }}">
                        {% if fund.total_amount > 0 %}
                        £{{ "{:,}".format(fund.total_amount) }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js" integrity="sha512-F/gIMdDfda6OD2rnzt/Iyp2V9JLHlFQ+EUyixDg9+rkwjqgW1snpkpx7FD5FV1+gG2fmFj7I3r6ReQDUidHelA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/sorts/tablesort.number.min.js" integrity="sha512-dRD755QRxlybm0h3LXXIGrFcjNakuxW3reZqnPtUkMv6YsSWoJf+slPjY5v4lZvx2ss+wBZQFegepmA7a2W9eA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
new Tablesort(document.getElementById('funds-table'));
</script>

{% endblock content %}
