<header class="govuk-header dl-header app-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <a href="{{ BASE_PATH }}/" class="govuk-header__link govuk-header__link--service-name">{{ title }}</a>
    <div class="govuk-header__content">
        <a href="https://www.planning.data.gov.uk" class="govuk-header__link govuk-header__link--service-name">
            Planning and housing data in England
        </a>
      <nav aria-label="Menu" class="govuk-header__navigation">
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
        <ul id="navigation" class="govuk-header__navigation-list">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://www.planning.data.gov.uk/about">About</a>
          </li>
          
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://www.planning.data.gov.uk/dataset">Datasets</a>
          </li>
          
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://www.planning.data.gov.uk/entity">Search</a>
          </li>
          
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://www.planning.data.gov.uk/map">Map</a>
          </li>
          
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://www.planning.data.gov.uk/docs">API</a>
          </li>
          
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://design.planning.data.gov.uk">Design data</a>
          </li>
          
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://submit.planning.data.gov.uk/">Provide data</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
