<header class="govuk-header app-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container app-header__container">
    <div class="govuk-header__logo app-header__logo">
      <a href="https://www.planning.data.gov.uk" class="govuk-header__link govuk-header__link--homepage">
          <span class="app-header__logotype">Planning Data</span>
      </a>
          <a href="{{ BASE_PATH }}/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__product-name">
          Performance
        </span>
      </a>
    </div>
  </div>
</header>
