<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl app-masthead__title govuk-!-margin-bottom-2">
          Designing planning and housing data that works for everyone
        </h1>
        <p class="govuk-body-l govuk-!-margin-bottom-0 app-masthead__sub-title">
          Help identify and design data for <a href="https://www.planning.data.gov.uk/" class="govuk-link govuk-link--inverse">planning.data.gov.uk</a> 
        </p>
      </div>
    </div>
  </div>
</div>

