{% extends "base.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="app-prose">
            <ul>
                <li><a href="project/open-digital-planning">Open Digital Planning membership and funding</a>
                <li><a href="adoption/planx">Adoption of Open Digital Planning products by Planning Authorities</a>
            </ul>
            <ul>
                <li><a href="award/">Awards</a>
                <li><a href="fund/">Funds</a>
                <li><a href="intervention/">Interventions</a>
                <li><a href="organisation/">Organisations</a>
                <li><a href="project/">Projects</a>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

