{% extends "base.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="app-prose">
            <ul>
                <li><a href="{{BASE_PATH}}/project/">Projects</a>
                <li><a href="{{BASE_PATH}}/intervention/">Interventions</a>
                <li><a href="{{BASE_PATH}}/product/">Products</a>
                <li><a href="{{BASE_PATH}}/fund/">Funds</a>
                <li><a href="{{BASE_PATH}}/award/">Awards</a>
                <li><a href="{{BASE_PATH}}/organisation/">Organisations</a>
            </ul
        </div>
    </div>
</div>
{% endblock content %}

