{% extends "base.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="app-prose">
            <ul>
                <li><a href="project/">Projects</a>
                <li><a href="intervention/">Interventions</a>
                <li><a href="product/">Products</a>
                <li><a href="fund/">Funds</a>
                <li><a href="award/">Awards</a>
                <li><a href="organisation/">Organisations</a>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

