{% extends "base.html" %}
{% set title = organisation.name %}

{% block content %}
<style>
.maps-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 1280px) {
  .maps-container {
    flex-direction: row;
  }
  .map {
    flex: 1;
    min-width: 0;
  }
}

.map {
 width: 100%;
 max-width: 640px;
}
.shapes svg {
 width: 100%;
 fill: #0b0c0c;
 padding: 2.5em;
}
.points svg {
 width: 100%;
 fill: #0b0c0c;
 padding: 2.5em;
}
svg path {
  fill:none;
  stroke:#000;
  stroke-width:0.5px;
}
svg circle {
  fill:red;
  opacity: 0.125;
}
svg a {
  cursor: pointer;
}
svg path.Software { fill: #22d0b6; stroke: #000; stroke-width: 0.5px }
svg path.PropTech_Software { fill: #a8bd3a; stroke: #000; stroke-width: 0.5px }
svg path.Plan-making_Software { fill: #118c7b; stroke: #000; stroke-width: 0.5px }
svg path.Plan-making_PropTech_Software { fill: #746cb1; stroke: #000; stroke-width: 0.5px }
svg path.PropTech { fill: #27a0cc; stroke: #000; stroke-width: 0.5px }
svg path.Plan-making_PropTech { fill: #206095; stroke: #000; stroke-width: 0.5px }
svg path.Plan-making { fill: #eee; stroke: #000; stroke-width: 0.5px }
svg path:hover { opacity: 0.5 }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Organisation</span>
        <h1 class="govuk-heading-xl">{{ organisation.name }}</h1>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisation</dt>
                <dd class="govuk-summary-list__value">
                    <a href="https://www.planning.data.gov.uk/curie/{{ organisation.organisation }}">{{ organisation.name }}</a>
                </dd>
            </div>

            {% if organisation.role %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Role</dt>
                <dd class="govuk-summary-list__value">{{ organisation.role }}</dd>
            </div>
            {% endif %}

            {% if organisation.end_date %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">End date</dt>
                <dd class="govuk-summary-list__value">{{ organisation.end_date|govuk_date }}</dd>
            </div>
            {% endif %}

            {% if organisation.amount > 0 %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Total funding</dt>
                <dd class="govuk-summary-list__value">£{{ "{:,}".format(organisation.amount) }}</dd>
            </div>
            {% endif %}

            {% if organisation.proptech_amount > 0 %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">PropTech funding</dt>
                <dd class="govuk-summary-list__value">£{{ "{:,}".format(organisation.proptech_amount) }}</dd>
            </div>
            {% endif %}

            {% if organisation.software_amount > 0 %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Software funding</dt>
                <dd class="govuk-summary-list__value">£{{ "{:,}".format(organisation.software_amount) }}</dd>
            </div>
            {% endif %}

            {% if organisation.adoption_status %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Adoption status</dt>
                <dd class="govuk-summary-list__value">{{ organisation.adoption_status }}</dd>
            </div>
            {% endif %}

            {% if organisation.volume %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Minor applications (2024)</dt>
                <dd class="govuk-summary-list__value">{{ organisation.volume|int }}</dd>
            </div>
            {% endif %}

            {% if organisation.percentage %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Processed in 8 weeks</dt>
                <dd class="govuk-summary-list__value">{{ organisation.percentage }}%</dd>
            </div>
            {% endif %}
        </dl>

        {% if shapes_svg or points_svg %}
        <div class="maps-container">
            {% if shapes_svg %}
            <div class="shapes map">
            {{ shapes_svg|safe }}
            </div>
            {% endif %}

            {% if points_svg %}
            <div class="points map">
            {{ points_svg|safe }}
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if projects %}
        <h2 class="govuk-heading-m">Projects</h2>
        <ul class="govuk-list govuk-list--bullet">
            {% for project in projects %}
            <li><a href="{{ BASE_PATH }}/project/{{ project.project }}/">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if partners %}
        <h2 class="govuk-heading-m">Partner organisations</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Organisation</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Awards</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for partner in partners %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="{{ base_path }}/organisation/{{ partner.organisation }}/">{{ partner.name }}</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{{ partner.shared_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if adoptions %}
        <h2 class="govuk-heading-m">Product adoptions</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Product</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Start date</th>
                    <th scope="col" class="govuk-table__header">Documentation</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for adoption in adoptions %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="{{ base_path }}/product/{{ adoption.product|slugify }}/">{{ adoption.product }}</a></td>
                    <td class="govuk-table__cell">{{ adoption.adoption_status }}</td>
                    <td class="govuk-table__cell">{{ adoption.start_date|govuk_date }}</td>
                    <td class="govuk-table__cell">
                        {% if adoption.documentation_url %}
                        <a href="{{ adoption.documentation_url }}">View</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if awards %}
        <h2 class="govuk-heading-m">Funding awards</h2>
        <table id="awards-table" class="govuk-table sortable">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Fund</th>
                    <th scope="col" class="govuk-table__header">Intervention</th>
                    <th scope="col" class="govuk-table__header">Amount</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for award in awards %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-sort="{{ award.start_date }}">{{ award.start_date|govuk_date }}</td>
                    <td class="govuk-table__cell"><a href="{{ base_path }}/fund/{{ award.fund }}/">{{ award.fund_name }}</a></td>
                    <td class="govuk-table__cell"><a href="{{ base_path }}/intervention/{{ award.intervention }}/">{{ award.intervention_name }}</a></td>
                    <td class="govuk-table__cell" data-sort="{{ award.amount }}">£{{ "{:,}".format(award.amount) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if quality %}
        <h2 class="govuk-heading-m">Data quality</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Dataset</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for q in quality %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ q.dataset }}</td>
                    <td class="govuk-table__cell">{{ q.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js" integrity="sha512-F/gIMdDfda6OD2rnzt/Iyp2V9JLHlFQ+EUyixDg9+rkwjqgW1snpkpx7FD5FV1+gG2fmFj7I3r6ReQDUidHelA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/sorts/tablesort.number.min.js" integrity="sha512-dRD755QRxlybm0h3LXXIGrFcjNakuxW3reZqnPtUkMv6YsSWoJf+slPjY5v4lZvx2ss+wBZQFegepmA7a2W9eA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
var awardsTable = document.getElementById('awards-table');
if (awardsTable) {
    new Tablesort(awardsTable);
}
</script>

{% endblock content %}
