{% extends "base.html" %}
{% set title = project.name %}

{% block content %}
<style>
.maps-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 1280px) {
  .maps-container {
    flex-direction: row;
  }
  .map {
    flex: 1;
    min-width: 0;
  }
}

.map {
 width: 100%;
 max-width: 640px;
}
.shapes svg {
 width: 100%;
 fill: #0b0c0c;
 padding: 2.5em;
}
.points svg {
 width: 100%;
 fill: #0b0c0c;
 padding: 2.5em;
}
svg path {
  fill:none;
  stroke:#000;
  stroke-width:0.5px;
}
svg circle {
  fill:red;
  opacity: 0.125;
}
svg a {
  cursor: pointer;
}
svg path.Software,
svg path.PropTech_Software,
svg path.Plan-making_Software,
svg path.Plan-making_PropTech_Software,
svg path.PropTech,
svg path.Plan-making_PropTech,
svg path.Plan-making { fill: #d4351c; stroke: #000; stroke-width: 0.5px }
svg path:hover { opacity: 0.5 }

.stacked-chart {
  display: flex;
  width: 100%;
  margin: 1em 0;
}

.stacked-chart .bar {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 2em;
  text-indent: 1em;
  color: #ffffff;
}

ul.key {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.key-item {
   border-left: 16px solid;
   margin-bottom: 5px;
   padding-left: 5px;
}

{% for item in legends %}
.stacked-chart .bar.{{ item.reference }} { background-color: {{ item.colour }}; color: #000 }
.key-item.{{ item.reference }} { border-color: {{ item.colour }}; }
{% endfor %}

/* sortable table */
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

/* timeline tabs */
.timeline-tabs {
  display: flex;
  gap: 0;
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 1em;
}

.timeline-tab {
  background: none;
  border: none;
  padding: 0.75em 1.5em;
  cursor: pointer;
  font-size: 1em;
  color: #1d70b8;
  border-bottom: 4px solid transparent;
}

.timeline-tab:hover {
  background-color: #f3f2f1;
}

.timeline-tab.active {
  border-bottom-color: #1d70b8;
  font-weight: bold;
  color: #0b0c0c;
}

.timeline-view {
  display: none;
}

.timeline-view.active {
  display: block;
}

/* timeline chart */
.timeline-chart-container {
  display: flex;
  gap: 0.75em;
  padding: 1em 0;
  margin: 1em 0;
}

.timeline-y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50px;
  text-align: right;
  padding-right: 0.5em;
}

.timeline-y-label {
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(180deg) translateX(50%);
  font-size: 0.75em;
  color: #505a5f;
  left: -3em;
  top: 50%;
}

.timeline-y-tick-wrapper {
  height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}

.timeline-y-tick-text {
  font-size: 0.75em;
  color: #505a5f;
  line-height: 0.25;
  text-align: right;
}

.timeline-y-tick-mark {
  position: absolute;
  right: -0.5em;
  width: 5px;
  height: 1px;
  background-color: #b1b4b6;
  top: 0;
}

.timeline-chart-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline-bars {
  display: flex;
  align-items: flex-end;
  gap: 3px;
  height: 300px;
  border-left: 2px solid #b1b4b6;
  border-bottom: 2px solid #b1b4b6;
  padding-left: 0.5em;
}

.timeline-bar-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.timeline-bar-new {
  width: 100%;
  background-color: #12436d;
}

.timeline-increase-label {
  position: absolute;
  bottom: 100%;
  font-size: 0.68em;
  color: #505a5f;
  padding-bottom: 2px;
  left: -.5em;
}

.timeline-x-axis {
  margin-left: 0.5em;
}

.timeline-x-labels {
  position: relative;
  height: 2em;
  margin-top: 0.5em;
  font-size: 0.9em;
}

.timeline-x-label-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline-x-tick-mark {
  width: 1px;
  height: 5px;
  background-color: #b1b4b6;
  margin-bottom: 2px;
}

.timeline-x-label {
  font-size: 0.9em;
  color: #505a5f;
}
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Project</span>
        <h1 class="govuk-heading-xl">{{ project.name }}</h1>

        {% if project.description %}
        <p class="govuk-body">{{ project.description }}</p>
        {% endif %}


        <h2 class="govuk-heading-m">Organisations</h2>

        <div class="maps-container">
            <div class="shapes map">
            {{ shapes_svg|safe }}
            </div>
        </div>

        {% if timeline_months %}
        <h2 class="govuk-heading-m">Cumulative number of organisations by month</h2>

        <div class="timeline-tabs">
            <button class="timeline-tab active" data-tab="chart">Chart</button>
            <button class="timeline-tab" data-tab="table">Tabular data</button>
            <button class="timeline-tab" data-tab="download">Download</button>
        </div>

        <div class="timeline-content">
            <div id="chart-view" class="timeline-view active">
                <div class="timeline-chart-container">
                    <div class="timeline-y-axis">
                        <div class="timeline-y-label">Number of organisations</div>
                        {% for i in range(5, -1, -1) %}
                        <div class="timeline-y-tick-wrapper">
                            <span class="timeline-y-tick-text">{{ (max_count * i / 5)|round(0)|int }}</span>
                            <span class="timeline-y-tick-mark"></span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="timeline-chart-area">
                        <div class="timeline-bars">
                            {% for month in timeline_months %}
                            <div class="timeline-bar-wrapper">
                                {% if month.increase > 0 %}
                                <div class="timeline-increase-label">+{{ month.increase }}</div>
                                {% endif %}
                                <div class="timeline-bar-new" style="height: {{ (month.cumulative / max_count * 300)|round(0) }}px;" title="{{ month.label }}: {{ month.cumulative }} ({% if month.increase > 0 %}+{{ month.increase }}{% else %}{{ month.increase }}{% endif %})">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="timeline-x-axis">
                            <div class="timeline-x-labels">
                                {% for month in timeline_months %}
                                {% set month_name = month.label.split(' ')[0] %}
                                {% if month_name == 'Jan' %}
                                {% set year = month.label.split(' ')[1] %}
                                <div class="timeline-x-label-wrapper" style="left: {{ (loop.index0 / timeline_months|length * 100) }}%;">
                                    <div class="timeline-x-tick-mark"></div>
                                    <div class="timeline-x-label">{{ year }}</div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="table-view" class="timeline-view">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Month</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Cumulative</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Change</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for month in timeline_months %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ month.label }}</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ month.cumulative }}</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">{% if month.increase != 0 %}{{ month.increase }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="download-view" class="timeline-view">
                <p class="govuk-body">Download the data in the following formats:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="#" class="govuk-link download-csv">CSV</a></li>
                    <li><a href="#" class="govuk-link download-json">JSON</a></li>
                </ul>
            </div>
        </div>
        {% endif %}

        <table id="organisations-table" class="govuk-table sortable">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Start date</th>
                    <th scope="col" class="govuk-table__header" aria-sort="ascending">Organisation</th>
                    <th scope="col" class="govuk-table__header">Interventions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for org in organisations %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ org.start_date|govuk_date }}</td>
                    <td class="govuk-table__cell">
                        <a href="{{BASE_PATH}}/organisation/{{ org.organisation }}/">{{ org.name }}</a>
                    </td>
                    <td class="govuk-table__cell">
                        {% for intervention in org.interventions %}
                        <a href="{{BASE_PATH}}/intervention/{{ intervention.intervention }}/">{{ intervention.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js" integrity="sha512-F/gIMdDfda6OD2rnzt/Iyp2V9JLHlFQ+EUyixDg9+rkwjqgW1snpkpx7FD5FV1+gG2fmFj7I3r6ReQDUidHelA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
new Tablesort(document.getElementById('organisations-table'));

// Timeline tab switching
document.querySelectorAll('.timeline-tab').forEach(tab => {
    tab.addEventListener('click', function() {
        const targetTab = this.dataset.tab;

        // Update tab buttons
        document.querySelectorAll('.timeline-tab').forEach(t => t.classList.remove('active'));
        this.classList.add('active');

        // Update views
        document.querySelectorAll('.timeline-view').forEach(v => v.classList.remove('active'));
        document.getElementById(targetTab + '-view').classList.add('active');
    });
});

// Download functionality
{% if timeline_months %}
const timelineData = {{ timeline_months|tojson }};

document.querySelector('.download-csv')?.addEventListener('click', function(e) {
    e.preventDefault();
    const csv = 'Month,Increase,Cumulative\n' +
        timelineData.map(m => `${m.label},${m.increase},${m.cumulative}`).join('\n');
    const blob = new Blob([csv], { type: 'text/csv' });
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = 'timeline-data.csv';
    a.click();
});

document.querySelector('.download-json')?.addEventListener('click', function(e) {
    e.preventDefault();
    const json = JSON.stringify(timelineData, null, 2);
    const blob = new Blob([json], { type: 'application/json' });
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = 'timeline-data.json';
    a.click();
});
{% endif %}
</script>

{% endblock content %}
