{% extends "base.html" %}
{% set title = project.name %}

{% block content %}
<style>
.maps-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 1280px) {
  .maps-container {
    flex-direction: row;
  }
  .map {
    flex: 1;
    min-width: 0;
  }
}

.map {
 width: 100%;
 max-width: 640px;
}
.shapes svg {
 width: 100%;
 fill: #0b0c0c;
 padding: 2.5em;
}
.points svg {
 width: 100%;
 fill: #0b0c0c;
 padding: 2.5em;
}
svg path {
  fill:none;
  stroke:#000;
  stroke-width:0.5px;
}
svg circle {
  fill:red;
  opacity: 0.125;
}
svg a {
  cursor: pointer;
}
svg path.Software,
svg path.PropTech_Software,
svg path.Plan-making_Software,
svg path.Plan-making_PropTech_Software,
svg path.PropTech,
svg path.Plan-making_PropTech,
svg path.Plan-making { fill: #d4351c; stroke: #000; stroke-width: 0.5px }
svg path:hover { opacity: 0.5 }

.stacked-chart {
  display: flex;
  width: 100%;
  margin: 1em 0;
}

.stacked-chart .bar {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 2em;
  text-indent: 1em;
  color: #ffffff;
}

ul.key {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.key-item {
   border-left: 16px solid;
   margin-bottom: 5px;
   padding-left: 5px;
}

{% for item in legends %}
.stacked-chart .bar.{{ item.reference }} { background-color: {{ item.colour }}; color: #000 }
.key-item.{{ item.reference }} { border-color: {{ item.colour }}; }
{% endfor %}
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Project</span>
        <h1 class="govuk-heading-xl">{{ project.name }}</h1>

        {% if project.description %}
        <p class="govuk-body">{{ project.description }}</p>
        {% endif %}


        <h2 class="govuk-heading-m">Organisations</h2>

        <div class="maps-container">
            <div class="shapes map">
            {{ shapes_svg|safe }}
            </div>
        </div>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Organisation</th>
                    <th scope="col" class="govuk-table__header">Start date</th>
                    <th scope="col" class="govuk-table__header">Interventions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for org in organisations %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="{{BASE_PATH}}/organisation/{{ org.organisation }}/">{{ org.name }}</a>
                    </td>
                    <td class="govuk-table__cell">{{ org.start_date|govuk_date }}</td>
                    <td class="govuk-table__cell">
                        {% for intervention in org.interventions %}
                        <a href="{{BASE_PATH}}/intervention/{{ intervention.intervention }}/">{{ intervention.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
